@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#navbar-section {
  z-index: 100;
  opacity: 0.9;
}

@keyframes Navbar {
  from {
    transform: translateY(-50%);
    opacity: 0.1;
  }
}
.icon-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.icon-btn div {
  width: 35px;
  height: 20px;
  transform: translateY(-50%);
  position: relative;
}
.icon-btn span.icon-top,
.icon-btn span.icon-mid,
.icon-btn span.icon-bottom {
  display: inline-block;
  width: 35px;
  height: 2px;
  margin: 5px;
  background-color: #d11d41;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
.icon-btn span.icon-mid {
  top: 50%;
  transition: all 0.3s;
}
.icon-btn span.icon-bottom {
  top: 100%;
}

.home-page {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .home-page-l, .home-page .home-page-r {
  margin-top: 50px;
}
.home-page p {
  font-size: 14px;
  font-weight: 700;
  line-height: 0;
}
.home-page h1 {
  font-size: 3rem;
}
.home-page a.contacts,
.home-page a.see-more {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #d11d41;
  position: relative;
  z-index: 5;
}
.home-page .hr-white {
  background-color: #eee;
}
.home-page .hr-dark {
  background-color: #333;
}
.home-page .btns {
  position: relative;
}
.home-page a.contacts {
  width: 100px;
  height: auto;
  text-align: center;
  background-color: #d11d41;
  color: #eee;
}
.home-page span.contacts-span,
.home-page span.seemore-span {
  width: 100px;
  height: 35px;
  border: 2px solid #333;
  position: absolute;
  left: 0;
}
.home-page a.contacts:hover {
  background: #cc1a3e;
  transform: translate(-2px, -2px);
  transition: all 0.3s;
}
.home-page a.contacts:hover + span.contacts-span {
  transform: translate(3px, 3px);
  transition: all 0.2s;
}
.home-page span.seemore-span {
  border: 0;
  background-color: #cc1a3e;
  left: 130px;
}
.home-page a.see-more:hover {
  transform: translate(-2px, -2px);
  transition: all 0.3s;
}
.home-page a.see-more:hover + span.seemore-span {
  transform: translate(3px, 3px);
  transition: all 0.2s;
}
.home-page .satellite {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 40%;
  left: 15%;
  transition: all 0.5s;
}
.home-page .ufo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 5;
  transition: all 0.5s;
}
.home-page .light {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
}
.home-page .explore {
  width: 24px;
  height: 24px;
}

.hobby {
  width: 100%;
  height: auto;
  background-color: #eee;
}

.about {
  position: relative;
}
.about h4 {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  top: 5px;
  z-index: 5;
}
.about .about-img-container {
  height: 300px;
  background-color: #eee;
}
.about .about-img {
  width: 150px;
  height: 150px;
  transform: scale(2) rotateY(180deg);
}
.about .head {
  position: absolute;
  bottom: 30%;
}
.about .shoulder {
  position: absolute;
  bottom: 20%;
}

.skills {
  background-color: #eee;
}
.skills .languages {
  flex-wrap: wrap;
}
.skills .skill-language {
  font-size: 0.9rem;
  word-spacing: 5px;
}
.skills .html, .skills .css, .skills .js, .skills .php {
  padding: 2px;
  background-image: conic-gradient(#444 0deg, #444 var(--i), transparent var(--i), transparent 0deg);
  transition: background 6s;
}
.skills .skill-item {
  width: 100px;
  height: 100px;
}

.projects {
  height: 600px;
}
.projects .project-items {
  width: 200px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.projects .project-items a {
  text-decoration: none;
}
.projects .project-items a:hover img {
  scale: 1.04;
  transition: all 0.3s;
}
.projects .project-items .img-container {
  width: 200px;
  height: 180px;
}
.projects .project-items .img-container img {
  width: 100%;
  height: 100%;
}
.projects .project-items div p {
  font-size: 0.9rem;
}
.projects .item-below {
  transform: translateY(50%);
}

.section-dark {
  background-color: #333 !important;
}

.lazy-loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.lazy-loading img {
  width: 180px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

body {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */